body{
    margin: 0;
}
header{
    background-image: url("../image/fondoMadera.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
}
h1 {
    height: 100px;
    font-size: 40px;
    margin-top: 0;
    margin-left: 30px;
    padding-top: 25px;
    margin-block-end: 0;
}
.logoHamburguesa {
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

.contenido{
    margin-bottom: 200px;
    height: 1500px;
}
h2{
    text-align: center;
    background-color: rgb(218, 218, 218);
    margin: 5px;
}

.botonLupa{
    padding: 1px;
}
.logoLupa{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

table{
    width: 100%;
    border-spacing: 0; 
}
th{
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
.imagenModificar{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.imagenEliminar{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

footer {
    margin-top: 170px;
    background-image: url("../image/fondoPizza.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100px;
}
.piePaginaTitulo{
    font-size: 20px;
    color: honeydew;
    position: absolute;
    top: 0px;
    left: 100px;
}
.piePaginaDireccion{
    color: honeydew;
    position: absolute;
    top: 30px;
    left: 100px;
}
.logoDireccion{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.piePaginaNumero{
    color: honeydew;
    position: absolute;
    top: 50px;
    left: 100px;
}
.logoNumero{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.piePaginaEnlace1{
    position: absolute;
    top: 30px;
    left: 750px;
}
.piePaginaEnlace2{
    position: absolute;
    top: 50px;
    left: 750px;
}
.piePaginaEnlace3{
    position: absolute;
    top: 10px;
    left: 750px;
}